body {
    font-family: Georgia;
    font-size: 1.5em;
    line-height: 150%;
    padding: 0 3em;
}

main {
    column-count: 2;
    column-gap: 80px;
    column-rule: 1px solid grey;
}

@supports(ljhsakfjhsef) {
    p {
        font-weight: bold;
    }
}

/* JAVASCRIPT
    CSS.supports('column-count', '2');
*/



/* VARIABLES ---------------- */

:root {
    --columns: 3;
    --textColor: hsl(220, 50%, 40%);
}

main {
    column-count: calc(var(--columns) * 2);
    color: var(--textColor);
}


/* CLIP PATH ------------------ */

body > img {
    max-width: 100%;
    margin-bottom: 2em;
    
    clip-path: inset(0 0 0 52%);
/*    clip-path: inset(0 48% 0 0);*/
}

main {
/*    clip-path: circle(200px at 200px 200px);*/
}


/* SHAPES ---------------------- */

footer {
    text-align: justify;
}

footer img {
    max-width: 75%;
    float: right;
    
/*    margin-right: -200px;*/
    
    shape-outside: url(head.png);
    shape-margin: 3%;
}



/* STICKY -------------- */

body {
    padding-top: 30vh;
}

body > img {
    position: sticky;
    top: 10px;
}


















