body {
    font-family: Georgia;
    font-size: 1.5em;
    line-height: 150%;
    padding: 0 3em;
}

main {
    column-count: 2;
    column-gap: 80px;
    column-rule: 1px solid grey;
}

@supports(ljhsakfjhsef) {
    p {
        font-weight: bold;
    }
}

/* JAVASCRIPT
    CSS.supports('column-count', '2');
*/



/* VARIABLES ---------------- */

:root {
    --columns: 3;
    --textColor: hsl(220, 50%, 40%);
}

main {
    column-count: calc(var(--columns) * 2);
    color: var(--textColor);
}


/* CLIP PATH ------------------ */
















